In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# To-Do:
- Drop severerisk
- Drop snow

# Thoughts, Questions, and Considerations:
- We don't necessarily want to include pandemic-era data, as that is known to be anomalous.
- Things like major storms (e.g. Harvey) may be worth removing as well

# Joining DataFrames and Creating Unified CSV:

## Houston:

In [2]:
hstn1 = pd.read_csv('houston_00_04.csv')
hstn2 = pd.read_csv('houston_05_09.csv')
hstn3 = pd.read_csv('houston_10_14.csv')
hstn4 = pd.read_csv('houston_15_19.csv')
hstn5 = pd.read_csv('houston_20_22.csv')
houston = pd.concat([hstn1, hstn2, hstn3, hstn4, hstn5])

In [3]:
houston.shape[0]

197831

In [4]:
houston.head()

,name,address,resolvedAddress,latitude,longitude,datetime,temp,feelslike,dew,humidity,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,source
0,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T00:00:00,49.2,49.2,41.1,73.46,...,NaN,1018.1,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs
1,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T01:00:00,46.5,46.5,41.1,81.45,...,NaN,1017.9,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs
2,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T02:00:00,45.6,45.6,41.1,84.27,...,200.0,1017.9,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs
3,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T03:00:00,46.2,46.2,40.4,80.24,...,NaN,1017.7,0.0,9.6,NaN,NaN,NaN,NaN,Clear,obs
4,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T04:00:00,45.2,45.2,40.4,83.19,...,NaN,1017.4,0.0,9.0,NaN,NaN,NaN,NaN,Clear,obs

## Galveston:

In [5]:
gvsn1 = pd.read_csv('galveston_00_04.csv')
gvsn2 = pd.read_csv('galveston_05_09.csv')
gvsn3 = pd.read_csv('galveston_10_14.csv')
gvsn4 = pd.read_csv('galveston_15_19.csv')
gvsn5 = pd.read_csv('galveston_20_22.csv')
galveston = pd.concat([gvsn1, gvsn2, gvsn3, gvsn4, gvsn5])

In [6]:
galveston.shape[0]

197831

In [7]:
galveston.head(2)

,name,address,resolvedAddress,latitude,longitude,datetime,temp,feelslike,dew,humidity,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,source
0,"Galveston, TX","Galveston, TX","Galveston, TX, United States",29.295,-94.808,2000-01-01T00:00:00,53.7,53.7,53.7,100.0,...,NaN,1018.4,0.0,1.2,NaN,NaN,NaN,NaN,Clear,obs
1,"Galveston, TX","Galveston, TX","Galveston, TX, United States",29.295,-94.808,2000-01-01T01:00:00,55.5,55.5,55.5,100.0,...,220.0,1018.3,0.0,2.5,NaN,NaN,NaN,NaN,Clear,obs

## Port Lavaca:

In [8]:
ptlv1 = pd.read_csv('portlavaca_00_04.csv')
ptlv2 = pd.read_csv('portlavaca_05_09.csv')
ptlv3 = pd.read_csv('portlavaca_10_14.csv')
ptlv4 = pd.read_csv('portlavaca_15_19.csv')
ptlv5 = pd.read_csv('portlavaca_20_22.csv')
port_lavaca = pd.concat([ptlv1, ptlv2, ptlv3, ptlv4, ptlv5])

In [9]:
port_lavaca.shape[0]

197831

In [10]:
port_lavaca.head(2)

,name,address,resolvedAddress,latitude,longitude,datetime,temp,feelslike,dew,humidity,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,source
0,"Port Lavaca, TX","Port Lavaca, TX","Port Lavaca, TX, United States",28.616,-96.624,2000-01-01T00:00:00,48.3,48.3,41.1,76.04,...,NaN,1018.3,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs
1,"Port Lavaca, TX","Port Lavaca, TX","Port Lavaca, TX, United States",28.616,-96.624,2000-01-01T01:00:00,47.0,47.0,42.2,83.11,...,NaN,1017.8,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs

## Victoria:

In [11]:
vctr1 = pd.read_csv('victoria_00_04.csv')
vctr2 = pd.read_csv('victoria_05_09.csv')
vctr3 = pd.read_csv('victoria_10_14.csv')
vctr4 = pd.read_csv('victoria_15_19.csv')
vctr5 = pd.read_csv('victoria_20_22.csv')
victoria = pd.concat([vctr1, vctr2, vctr3, vctr4, vctr5])

In [12]:
victoria.shape[0]

197831

In [13]:
victoria.head(2)

,name,address,resolvedAddress,latitude,longitude,datetime,temp,feelslike,dew,humidity,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,source
0,"Victoria, TX","Victoria, TX","Victoria, TX, United States",28.806,-97.004,2000-01-01T00:00:00,48.3,48.3,41.1,76.04,...,NaN,1018.3,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs
1,"Victoria, TX","Victoria, TX","Victoria, TX, United States",28.806,-97.004,2000-01-01T01:00:00,47.0,47.0,42.2,83.11,...,NaN,1017.8,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs

In [14]:
houston.dtypes

name                 object
address              object
resolvedAddress      object
latitude            float64
longitude           float64
datetime             object
temp                float64
feelslike           float64
dew                 float64
humidity            float64
precip              float64
precipprob          float64
preciptype           object
snow                float64
snowdepth           float64
windgust            float64
windspeed           float64
winddir             float64
sealevelpressure    float64
cloudcover          float64
visibility          float64
solarradiation      float64
solarenergy         float64
uvindex             float64
severerisk          float64
conditions           object
source               object
dtype: object

# Defining Functions to Clean DataFrames for Concatenation:
- Steps Needed:
    - Take in df
    - Dropping Columns function:
        - Drop non-weather columns, like address, lat/long, etc. 
        - Also snow, snowdepth, and severerisk, source, preciptype, precipprob, conditions (others, if needed)
    - Datetime function:
        - Convert 'datetime' column to datetime format
        - Set index to datetime
        - Drop dates > 12-31-09 and < 7-1-17.
        - Resample by the hour to clean up the data a bit    
    - Rename all relevant columns to contain location name (separate function, most likely)

In [15]:
houston

,name,address,resolvedAddress,latitude,longitude,datetime,temp,feelslike,dew,humidity,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,source
0,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T00:00:00,49.2,49.2,41.1,73.46,...,NaN,1018.1,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs
1,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T01:00:00,46.5,46.5,41.1,81.45,...,NaN,1017.9,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs
2,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T02:00:00,45.6,45.6,41.1,84.27,...,200.0,1017.9,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs
3,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T03:00:00,46.2,46.2,40.4,80.24,...,NaN,1017.7,0.0,9.6,NaN,NaN,NaN,NaN,Clear,obs
4,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T04:00:00,45.2,45.2,40.4,83.19,...,NaN,1017.4,0.0,9.0,NaN,NaN,NaN,NaN,Clear,obs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22506,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2022-07-26T19:00:00,89.7,96.6,71.6,55.35,...,144.0,1013.7,15.6,9.9,46.0,0.2,0.0,60.0,Clear,obs
22507,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2022-07-26T20:00:00,87.9,93.1,70.2,55.91,...,161.0,1014.0,15.6,9.9,23.0,0.1,0.0,60.0,Clear,obs
22508,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2022-07-26T21:00:00,86.0,92.1,71.7,62.47,...,144.0,1014.3,15.6,9.9,0.0,0.0,0.0,30.0,Clear,obs
22509,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2022-07-26T22:00:00,84.3,91.0,73.3,69.59,...,162.0,1015.3,15.6,9.9,0.0,NaN,0.0,30.0,Clear,obs
22510,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2022-07-26T23:00:00,82.7,88.6,73.3,73.39,...,171.0,1016.0,15.6,9.9,0.0,NaN,0.0,30.0,Clear,obs

In [16]:
df = houston.copy()

## Dropping Columns:

In [17]:
# drp_cols = ['name', 'address', 'resolvedAddress', 'latitude', 'longitude', 'snow', 'snowdepth', 'severerisk','preciptype','precipprob','source','conditions']
# df.drop(columns = drp_cols, inplace = True)

In [18]:
#houston = drop_columns(houston)

In [19]:
#houston.head()

## Converting to Datetime and Setting Index:

In [20]:
def date_cleaner(df):
    '''
    Takes in a DataFrame, converts date column to DateTime format,
    sets the index to the DateTime column, filters dates to include
    2010 - June 2017, and resamples by the hour. 
    
    Returns: pandas.DataFrame
    Parameters: 
        df: pandas.DataFrame
    '''
    #converting 'datetime' column to datetime format:
    df.datetime = pd.to_datetime(df.datetime)
    #setting index to datetime:
    df = df.set_index('datetime')
    #filter dates:
    df = df[(df.index > '12-31-2009') & (df.index < '7-1-2017')]
    #resampling by hour:
    df = df.resample('h').mean()
    return df

## Renaming Columns:

In [21]:
def rename_columns(df, city):
    '''
    Takes in a DataFrame and a string of the city name, 
    return a pandas DataFrame with all the columns renamed
    to include the city name. 
    '''
    for col in df.columns:
        df.rename(columns = {col: (city + '_' + col)}, inplace = True)
    return df

In [22]:
df.head(1)

,name,address,resolvedAddress,latitude,longitude,datetime,temp,feelslike,dew,humidity,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,source
0,"Houston, TX","Houston, TX","Houston, TX, United States",29.761,-95.37,2000-01-01T00:00:00,49.2,49.2,41.1,73.46,...,NaN,1018.1,0.0,9.9,NaN,NaN,NaN,NaN,Clear,obs

## Total Function, Step-Wise:

In [23]:
def weather_cleaner(df, city):
    '''
    Takes in a DataFrame and a city name, drops unneeded columns, 
    cleans up the 'datetime' column and places it as the index, 
    and renames all measurement columns to include their city of 
    observation.
    '''
    #Dropping unneeded columns:
    drp_cols = ['name', 'address', 'resolvedAddress', 'latitude', 'longitude', 'snow', 'snowdepth', 'severerisk','preciptype','precipprob','source','conditions']
    df.drop(columns = drp_cols, inplace = True)
    #Cleaning up dates:
    df = date_cleaner(df)
    #Renaming Columns:
    df = rename_columns(df, city)
    return df

# Loop:

In [24]:
df_list = [houston, galveston, port_lavaca, victoria]
city_list = ['hs', 'gv', 'pl', 'vc']
total_df = pd.DataFrame()

for df, city in zip(df_list, city_list):
    city_df = weather_cleaner(df, city)
    total_df = pd.concat([total_df, city_df], axis = 1)

In [25]:
total_df.to_csv('total_df.csv')